@{
    ViewData["Title"] = "ForgetPassword";
}
<partial name="_Logo" />
<form method="post" asp-action="ForgetPassword">
    @if (ViewBag.Msg != null)
    {
        <div class="alert alert-dark" role="alert" style="width:700px; color:white;">
            @ViewBag.Msg
        </div>
    }
    <!-- Body -->
    <div style="margin-top: 50px; width: 350px; margin-bottom: 48px; margin-left: 500px;">
        <div class="col-md-12 mb-3">
            <label for="validationDefaultUsername">Email</label>
            <div class="input-group">
                <input type="email" name="email" class="form-control" id="validationDefaultUsername" placeholder="Email">
            </div>
        </div>


        <center>
            <button class="btn btn-primary" type="submit" style="margin-bottom: 20px;">
                Send
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
            </button>
        </center>
    </div>
    <!-- End Body -->
</form>