@model ALFarhadresses.Models.Contactus

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}
<partial name="_Logo" />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <center>
        <div style="width: 50%; margin-top: 20px ; margin-bottom: 20px;">
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Name" for="validationDefault01">Name</label>
                    <input asp-for="Name" type="text" class="form-control" id="validationDefault01" placeholder="Name" readonly style="cursor:no-drop">
                    <span asp-validation-for="Name" style="color:red;"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Email" for="validationDefault01">Email</label>
                    <input asp-for="Email" type="email" class="form-control" id="validationDefault01" placeholder="Email" readonly style="cursor:no-drop">
                    <span asp-validation-for="Email" style="color:red;"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Phone" for="validationDefaultUsername">Phone</label>
                    <input asp-for="Phone" type="tel" class="form-control" readonly placeholder="Fees" style="cursor:no-drop">
                    <span asp-validation-for="Phone" style="color:red;"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Status" for="validationDefaultUsername">Status</label>
                    <select asp-for="Status" class="form-control">
                        <option value="Binding">Binding</option>
                        <option value="Done">Done</option>
                    </select>
                    <span asp-validation-for="Status" style="color:red;"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Quistion">Address</label>
                <textarea class="form-control" asp-for="Quistion" readonly style="cursor:no-drop"></textarea>
                <span asp-validation-for="Quistion" style="color:red;"></span>
            </div>
            <center>
            </center>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Profile">Back</a>
            </div>
        </div>
    </center>
</form>