@{
    ViewData["Title"] = "Confirmed";
}
<partial name="_Logo" />
<center>
    <div class="alert alert-danger" style="width:750px;margin-bottom:63px;">
        <h2>Error</h2>
        <h6>
            Your order Has Item And His Operation Not Complet Yet .
        </h6>
        <br />
        <a class="btn btn-primary" asp-action="Index" asp-area="Admin" asp-controller="Orders">
            <span style="color:white;">Com Back To Index</span>
        </a>
    </div>
</center>